@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 100%; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

a {
  color: inherit; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*-----*/
:root {
  --widthContentWrapper: 85.42%; }

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  position: relative;
  width: 100%;
  height: 100vh !important;
  padding-top: 0.5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content 1fr -webkit-max-content;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  font-family: "Lexend", sans-serif;
  background-color: #110a1d;
  overflow: hidden; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72.5vh;
  -ms-flex-item-align: end;
  align-self: end; }
  .main__wrapper {
    width: var(--widthContentWrapper);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto; }

img {
  width: 100%;
  height: auto; }

.hidden {
  overflow: hidden; }

@media (max-width: 920px) {
  :root {
    --widthContentWrapper: 94vw; }
  body {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    display: block;
    overflow: unset;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #00000000; }
  .main {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    max-width: 100vw; }
    .main__wrapper {
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0; } }

@media (orientation: landscape) and (max-width: 10240px) {
  :root {
    --widthContentWrapper: 92%; } }

/*
@media (max-width: 600px) {
  :root {
    --widthContentWrapper: 360px;
  }
  .container-wrapper {
    border: 2px solid rgb(0, 21, 255);
  }
}
@media (max-width: 365px) {
  :root {
    --widthContentWrapper: 280px;
  }
  .container-wrapper {
    border: 2px solid rgb(0, 21, 255);
  }
}
*/
.active-footer-nav-link {
  text-decoration: underline;
  color: #478bf9; }

.active-preview-blog {
  background-color: #478bf9 !important; }

a:focus {
  color: #969696; }
  a:focus img {
    -webkit-filter: invert(10%) sepia(2%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%);
    filter: invert(10%) sepia(2%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%);
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    box-shadow: 0px 0px 15px 5px #ffffff; }

a:hover {
  color: #969696; }
  a:hover img {
    -webkit-filter: invert(10%) sepia(60%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%);
    filter: invert(10%) sepia(60%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%);
    -webkit-box-shadow: 0px 0px 15px 5px #ffffffcc;
    box-shadow: 0px 0px 15px 5px #ffffffcc; }

button:focus {
  color: #1e1231;
  background-color: #ffffffcc;
  border-color: #478bf9;
  -webkit-box-shadow: 0px 0px 10px 0px #ffffffcc;
  box-shadow: 0px 0px 10px 0px #ffffffcc; }
  button:focus img {
    -webkit-filter: invert(4%) sepia(50%) saturate(6871%) hue-rotate(262deg) brightness(76%) contrast(90%);
    filter: invert(4%) sepia(50%) saturate(6871%) hue-rotate(262deg) brightness(76%) contrast(90%); }

button:hover {
  color: #1e1231;
  background-color: #ffffffcc;
  border-color: #478bf9;
  -webkit-box-shadow: 0px 0px 10px 0px #ffffffcc;
  box-shadow: 0px 0px 10px 0px #ffffffcc; }
  button:hover img {
    -webkit-filter: invert(4%) sepia(50%) saturate(6871%) hue-rotate(262deg) brightness(76%) contrast(90%);
    filter: invert(4%) sepia(50%) saturate(6871%) hue-rotate(262deg) brightness(76%) contrast(90%); }

.header {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 100vw;
  color: #ffffff; }
  .header__wrapper {
    width: var(--widthContentWrapper);
    margin: 1.2648vh auto 0.3953vh;
    padding: 1.9763vh 2.5vw;
    border-radius: 3.3333vw;
    border: 4px solid #478bf9; }
  .header__content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__logo {
    width: 15.3646vw;
    opacity: 0; }
    .header__logo img {
      width: 100%;
      height: 100%;
      cursor: pointer; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.67vw; }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: 0.8333vw;
    font-size: clamp(14px, 0.8333vw, 16px);
    font-weight: 400;
    line-height: 120%; }
  .header__btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.73vw; }
  .header__btn {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 1.11vh 0.73vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 0.5208vw;
    font-size: 0.8333vw;
    font-size: clamp(14px, 0.8333vw, 16px);
    font-weight: 400;
    line-height: 120%;
    color: #ffffff;
    background-color: unset;
    text-transform: uppercase;
    border: 2px solid #9dadf2;
    border-radius: 24px; }
    .header__btn img {
      width: 0.8333vw; }
  .header__content-mobile {
    display: none; }
  .header #signUp {
    background-color: #478bf9;
    color: #ffffff;
    border-color: #478bf9; }
    .header #signUp:hover {
      background-color: #ffffffcc;
      color: #1e1231; }

@media (orientation: landscape) and (max-width: 1024px) {
  .header__logo {
    width: 10vw;
    opacity: 0; } }

@media (max-width: 920px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 10px 0px 4px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    color: #ffffff;
    background-color: #110a1d; }
    .header__wrapper {
      width: var(--widthContentWrapper);
      height: 56px;
      margin: auto;
      padding: 8px 2.5vw;
      border-radius: 20vw;
      border: 2px solid #478bf9; }
    .header__content {
      position: absolute;
      z-index: -100;
      top: -3000px;
      left: 0;
      width: 100vw;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      padding: 0px 3vw 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      background-color: #110a1d;
      -webkit-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s;
      overflow-y: scroll; }
    .header__logo {
      display: none; }
    .header__nav {
      margin-top: 30px;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      -webkit-column-gap: 1vh;
      column-gap: 1vh; }
    .header__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      min-width: -webkit-max-content;
      min-width: -moz-max-content;
      min-width: max-content;
      padding: 1.9763vh 6vw;
      border-radius: 20vw;
      border: 2px solid #478bf9;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      font-style: normal; }
    .header__btn-group {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 1vh; }
    .header__btn {
      display: none;
      min-width: -webkit-max-content;
      min-width: -moz-max-content;
      min-width: max-content;
      width: 100%;
      padding: 1.11vh 0.73vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 1.9763vh 2.5vw;
      border-radius: 20vw;
      border: 2px solid #478bf9;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      font-style: normal;
      text-transform: uppercase;
      background-color: #1e1231; }
    .header #language {
      display: none; }
    .header__content-mobile {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .header__mobile-btn-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 2px solid #00ff26;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: 100%; }
    .header #language-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border: 2px solid #9dadf2;
      border-radius: 50%;
      background-color: unset; }
      .header #language-mobile img {
        width: 20px; }
    .header__burger-btn {
      width: 36px;
      height: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header__burger-line {
      position: relative;
      width: 21px;
      height: 3px;
      background-color: #ffffff;
      border-radius: 5px;
      -webkit-transition: height 0s ease 0.5s;
      -o-transition: height 0s ease 0.5s;
      transition: height 0s ease 0.5s; }
      .header__burger-line:before, .header__burger-line:after {
        content: "";
        position: absolute;
        left: 0px;
        width: 21px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 5px;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        -webkit-transition: -webkit-transform 1s ease 0s;
        transition: -webkit-transform 1s ease 0s;
        -o-transition: transform 1s ease 0s;
        transition: transform 1s ease 0s;
        transition: transform 1s ease 0s, -webkit-transform 1s ease 0s; }
      .header__burger-line:before {
        top: -8px; }
      .header__burger-line:after {
        bottom: -8px; }
    .header__burger-btn.active .header__burger-line {
      height: 0;
      -webkit-transition: height 0s ease 0s !important;
      -o-transition: height 0s ease 0s !important;
      transition: height 0s ease 0s !important; }
      .header__burger-btn.active .header__burger-line:before, .header__burger-btn.active .header__burger-line:after {
        left: 3px; }
      .header__burger-btn.active .header__burger-line:before {
        top: -9px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .header__burger-btn.active .header__burger-line:after {
        bottom: -9px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .header #signUp {
      background-color: #478bf9;
      color: #ffffff;
      border-color: #478bf9; }
      .header #signUp:hover {
        background-color: #ffffffcc;
        color: #1e1231; } }

.footer {
  position: relative;
  z-index: 50;
  max-width: 100vw;
  padding: 2.8459vh 0vw 1.581vh;
  color: #ffffff;
  border-radius: 3.3333vw 3.3333vw 0px 0px;
  border-color: #478bf9;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  background-color: #1e1231; }
  .footer__wrapper {
    width: var(--widthContentWrapper);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.0833vw; }
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    font-size: 0.8333vw;
    font-size: clamp(14px, 0.8333vw, 16px);
    line-height: 20px;
    font-weight: 400; }
  .footer__social {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.0277vh; }
  .footer__social-title {
    font-size: 0.8333vw;
    font-size: clamp(14px, 0.8333vw, 16px);
    line-height: 20px;
    font-weight: 400;
    text-align: end; }
  .footer__social-group {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-column-gap: 0.4167vw;
    column-gap: 0.4167vw; }
  .footer__social-link a {
    display: block;
    line-height: 0px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
  .footer__social-link img {
    width: 1.7625vw;
    height: 1.7625vw;
    border-radius: 50%; }

@media (max-width: 920px) {
  .footer {
    padding: 20px 0vw 30px;
    border-radius: 15.625vw 15.625vw 0px 0px;
    border-radius: clamp(50px, 15.625vw, 64px) clamp(50px, 15.625vw, 64px) 0px 0px;
    border-width: 2px 2px 0px 2px; }
    .footer__wrapper {
      width: 87.5vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end;
      gap: 20px; }
    .footer__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 7px; }
    .footer__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      font-size: 4.375vw;
      font-size: clamp(14px, 4.375vw, 18px); }
    .footer__social {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 10px; }
    .footer__social-title {
      font-size: 4.375vw;
      font-size: clamp(14px, 4.375vw, 18px);
      text-align: start; }
    .footer__social-group {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      -moz-column-gap: 2.8125vw;
      -o-column-gap: 2.8125vw;
      -webkit-column-gap: 2.8125vw;
      column-gap: 2.8125vw; }
    .footer__social-link {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; }
      .footer__social-link img {
        width: 8.4375vw;
        width: clamp(27px, 8.4375vw, 60px);
        height: auto;
        border-radius: 50%; } }

.hero {
  position: relative;
  z-index: 5;
  width: 34.8437vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
  .hero::before {
    z-index: -5;
    content: "";
    position: absolute;
    top: 20%;
    left: -75%;
    width: 170%;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(71, 139, 249, 0.148);
    -webkit-box-shadow: 0px 0px 70px 70px rgba(71, 139, 249, 0.158);
    box-shadow: 0px 0px 70px 70px rgba(71, 139, 249, 0.158);
    -webkit-transform: rotateZ(35deg) rotateX(0deg);
    transform: rotateZ(35deg) rotateX(0deg); }
  .hero__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    color: #ffffff;
    font-size: clamp(46px, 5vw, 96px);
    font-weight: 600;
    line-height: 100%; }
    .hero__title span {
      color: #478bf9; }
  .hero__subtitle {
    display: block;
    width: 100%;
    margin: 2.7668vh 0px 3.5573vh;
    color: rgba(255, 255, 255, 0.6);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: clamp(20px, 1.66667vw, 32px);
    font-weight: 600;
    line-height: 100%; }
  .hero__btn {
    width: clamp(280px, 20.4688vw, 393px);
    padding: 0px 3.39vw;
    height: 5.9617vh;
    background-color: #478bf9;
    color: #ffffff;
    border-radius: 48px;
    font-size: clamp(18px, 1.25vw, 24px);
    font-weight: 700;
    line-height: 133%;
    text-transform: uppercase; }

@media (max-width: 920px) {
  .hero {
    position: relative;
    z-index: 5;
    width: var(--widthContentWrapper);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 80px 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero::before {
      top: 25%;
      left: -20%;
      width: 120%;
      height: 130px;
      background-color: rgba(71, 139, 249, 0.29);
      -webkit-box-shadow: 0px 0px 70px 70px rgba(71, 139, 249, 0.3);
      box-shadow: 0px 0px 70px 70px rgba(71, 139, 249, 0.3);
      -webkit-transform: rotateZ(20deg) rotateX(65deg);
      transform: rotateZ(20deg) rotateX(65deg); }
    .hero__title {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      max-width: 100%;
      text-align: center;
      font-size: 14vw;
      font-size: clamp(46px, 14vw, 96px);
      font-weight: 600;
      line-height: 109%; }
    .hero__subtitle {
      width: 100%;
      margin: 24px 0px;
      text-align: center;
      -webkit-hyphens: unset;
      -ms-hyphens: unset;
      hyphens: unset;
      font-size: 6.25vw;
      font-size: clamp(20px, 6.25vw, 32px);
      font-weight: 600;
      line-height: 130%; }
    .hero__btn {
      width: 100%;
      height: 53px;
      border-radius: 48px;
      font-size: 5.625vw;
      font-size: clamp(18px, 5.625vw, 24px);
      font-weight: 700;
      line-height: 100%; } }

.vertical-ticker,
.horizontal-ticker {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  overflow: hidden; }
  .vertical-ticker__container,
  .horizontal-ticker__container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden; }
  .vertical-ticker__first, .vertical-ticker__second, .vertical-ticker__third,
  .horizontal-ticker__first,
  .horizontal-ticker__second,
  .horizontal-ticker__third {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    overflow: hidden; }
    .vertical-ticker__first .marquee, .vertical-ticker__second .marquee, .vertical-ticker__third .marquee,
    .horizontal-ticker__first .marquee,
    .horizontal-ticker__second .marquee,
    .horizontal-ticker__third .marquee {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .vertical-ticker__first .marquee img, .vertical-ticker__second .marquee img, .vertical-ticker__third .marquee img,
      .horizontal-ticker__first .marquee img,
      .horizontal-ticker__second .marquee img,
      .horizontal-ticker__third .marquee img {
        margin: 0.7905vh 0.5194vw;
        width: 4.51vw;
        height: auto; }
    .vertical-ticker__first:before, .vertical-ticker__second:before, .vertical-ticker__third:before,
    .horizontal-ticker__first:before,
    .horizontal-ticker__second:before,
    .horizontal-ticker__third:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      -webkit-box-shadow: 0px 0px 90px 100px #1e1231;
      box-shadow: 0px 0px 90px 100px #1e1231; }
  .vertical-ticker__first,
  .horizontal-ticker__first {
    opacity: 0.2; }
  .vertical-ticker__second,
  .horizontal-ticker__second {
    opacity: 0.7;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end; }
    .vertical-ticker__second .marquee,
    .horizontal-ticker__second .marquee {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end;
      position: relative;
      bottom: 0;
      right: 0; }
    .vertical-ticker__second:before,
    .horizontal-ticker__second:before {
      -webkit-box-shadow: 0px 0px 100px 70px #1e1231;
      box-shadow: 0px 0px 100px 70px #1e1231; }
  .vertical-ticker__third,
  .horizontal-ticker__third {
    opacity: 0.4; }
    .vertical-ticker__third:before,
    .horizontal-ticker__third:before {
      -webkit-box-shadow: 0px 0px 90px 70px #1e1231;
      box-shadow: 0px 0px 90px 70px #1e1231; }

.ticker-img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }

.horizontal-ticker {
  display: none; }

.vertical-ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 920px) {
  .horizontal-ticker,
  .vertical-ticker {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow: hidden; }
    .horizontal-ticker__container,
    .vertical-ticker__container {
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden; }
    .horizontal-ticker__first, .horizontal-ticker__second, .horizontal-ticker__third,
    .vertical-ticker__first,
    .vertical-ticker__second,
    .vertical-ticker__third {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      overflow: hidden; }
      .horizontal-ticker__first .marquee, .horizontal-ticker__second .marquee, .horizontal-ticker__third .marquee,
      .vertical-ticker__first .marquee,
      .vertical-ticker__second .marquee,
      .vertical-ticker__third .marquee {
        overflow: hidden;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .horizontal-ticker__first .marquee img, .horizontal-ticker__second .marquee img, .horizontal-ticker__third .marquee img,
        .vertical-ticker__first .marquee img,
        .vertical-ticker__second .marquee img,
        .vertical-ticker__third .marquee img {
          margin: 5px;
          height: 48px;
          width: auto; }
      .horizontal-ticker__first:before, .horizontal-ticker__second:before, .horizontal-ticker__third:before,
      .vertical-ticker__first:before,
      .vertical-ticker__second:before,
      .vertical-ticker__third:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0;
        -webkit-box-shadow: unset;
        box-shadow: unset; }
    .horizontal-ticker__first,
    .vertical-ticker__first {
      opacity: 0.4; }
    .horizontal-ticker__second,
    .vertical-ticker__second {
      opacity: 0.7; }
    .horizontal-ticker__third,
    .vertical-ticker__third {
      opacity: 0.2; }
  .ticker-img-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .horizontal-ticker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .vertical-ticker {
    display: none; } }

.blog {
  z-index: 5;
  width: 28.6563vw;
  height: 50.0356vh;
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  /*---скролл-бар---*/ }
  .blog::before {
    z-index: -5;
    content: "";
    position: absolute;
    bottom: -25%;
    right: -10%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 200px 450px #478bf93c;
    box-shadow: 0px 0px 200px 450px #478bf93c; }
  .blog__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 19px;
    font-size: 2.0833vw;
    font-size: clamp(32px, 2.0833vw, 40px);
    line-height: 40px;
    font-weight: 700; }
  .blog__preview-group-wrapper {
    position: relative;
    width: 100%;
    height: 47.1308vh;
    height: clamp(421px, 47.1308vh, 600px);
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: -webkit-max-content 1fr;
    -ms-grid-columns: max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #36344a;
    border-width: 3px;
    border-width: clamp(2px, 0.1563vw, 3px);
    border-color: #478bf9;
    border-style: solid;
    border-radius: 5.21vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #00000000; }
  .blog__preview-group {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    top: 0px;
    min-width: 90%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 3% 0px 0.8vh 1vw;
    padding: clamp(8px, 3%, 15px) 0px clamp(5px, 0.8vh, 15px) clamp(5px, 1vw, 20px);
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-gap: 10px; }
  .blog__preview {
    width: 24.323vw;
    width: clamp(150px, 24.323vw, 467px);
    padding: 1.2648vh 3.3333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.9486vh;
    border-radius: 5.21vw;
    background-color: #1e1231; }
    .blog__preview:hover {
      color: #ffffff;
      background-color: #969696; }
  .blog__text {
    font-size: 1.25vw;
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: 117%;
    font-weight: 500; }
  .blog__data {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    opacity: 0.6; }
  .blog__progressbar {
    height: 70%;
    min-width: 23px;
    width: 100%;
    margin: 0px;
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    top: 15%;
    overflow: hidden; }
    .blog__progressbar:before {
      content: "";
      position: absolute;
      z-index: 50;
      top: 0;
      left: 50%;
      margin-left: -4px;
      width: 8px;
      height: 100%;
      background: #53546b;
      border-radius: 10px; }
  .blog__progressbar-line {
    position: absolute;
    z-index: 1000;
    left: 50%;
    margin-left: -4px;
    background-color: #478bf9;
    width: 8px;
    border-radius: 10px;
    border: 2px solid #478bf9;
    -ms-touch-action: none;
    touch-action: none; }
    .blog__progressbar-line:hover {
      -webkit-filter: invert(20%) sepia(2%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%);
      filter: invert(20%) sepia(2%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%); }

@media (max-width: 920px) {
  .blog {
    width: var(--widthContentWrapper);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 30px 0px 120px;
    /*---скролл-бар---*/ }
    .blog::before {
      z-index: -5;
      content: "";
      position: absolute;
      bottom: 25%;
      right: 10%;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 100px 150px #478bf93c;
      box-shadow: 0px 0px 100px 150px #478bf93c; }
    .blog__title {
      font-size: 10vw;
      font-size: clamp(32px, 10vw, 40px); }
    .blog__preview-group-wrapper {
      height: 60vh;
      height: clamp(421px, 70vh, 600px);
      border-radius: 15vw;
      border-radius: clamp(50px, 15vw, 75px); }
    .blog__preview-group {
      padding: 1.7vh 0px 1.7vh 3vw;
      padding: clamp(10px, 1.7vh, 50px) 0px clamp(10px, 1.7vh, 50px) clamp(10px, 3vw, 50px);
      grid-row-gap: 10px; }
    .blog__preview {
      width: 84vw;
      width: clamp(274px, 84vw, 800px);
      padding: 16px 9%;
      border-radius: 12.5vw; }
    .blog__text {
      display: block;
      width: 63.75vw;
      width: clamp(204px, 63.75vw, 400px);
      font-size: 5vw;
      font-size: clamp(16px, 5vw, 24px);
      line-height: 117%;
      font-weight: 500; }
    .blog__data {
      display: block;
      width: 204px; }
    .blog__progressbar {
      height: 64%;
      top: 18%; }
      .blog__progressbar:before {
        width: 4px;
        margin-left: -2px; }
    .blog__progressbar-line {
      width: 4px;
      margin-left: -2px; } }

.blog__preview-group-wrapper::-webkit-scrollbar {
  width: 0px; }

.blog__preview-group-wrapper::-webkit-scrollbar-track {
  background: #53546b;
  border-radius: 10px; }

.blog__preview-group-wrapper::-webkit-scrollbar-thumb {
  background-color: #478bf9;
  border-radius: 10px; }

body::-webkit-scrollbar {
  width: 0px; }

#nav-block-header::-webkit-scrollbar {
  width: 0px; }

.qwerty {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 3vw; }
  .qwerty div {
    border: 2px solid red;
    width: 30vw;
    height: 200px; }
