.footer {
  position: relative;
  z-index: 50;
  padding: 2.8459vh 0vw 1.581vh;
  color: $baseTextColor;
  border-radius: 3.3333vw 3.3333vw 0px 0px;
  border-color: $borderColorBlock;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  background-color: $footerBgColor;
  &__wrapper {
    width: var(--widthContentWrapper);
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    gap: 2.0833vw;
  }

  &__link {
    display: flex;
    align-items: end;
    @include fontSize(0.8333vw, 120%, 400);
  }

  &__social {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.0277vh;
  }
  &__social-title {
    @include fontSize(0.8333vw, 120%, 400);
    text-align: end;
  }
  &__social-group {
    height: max-content;
    display: flex;
    justify-content: end;
    column-gap: 0.4167vw;
  }

  &__social-link {
    a {
      display: block;
      line-height: 0px;
      width: max-content;
      height: max-content;
    }
    // background-color: $borderColorBlock;
    img {
      width: 1.7625vw;
      height: 1.7625vw;
      border-radius: 50%;
    }
  }
}
