.footer {
  position: relative;
  z-index: 50;
  max-width: 100vw;
  padding: 2.8459vh 0vw 1.581vh;
  color: $baseTextColor;
  border-radius: 3.3333vw 3.3333vw 0px 0px;
  border-color: $borderColorBlock;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  background-color: $footerBgColor;
  &__wrapper {
    width: var(--widthContentWrapper);
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    gap: 2.0833vw;
  }

  &__link {
    display: flex;
    align-items: end;
    font-size: 0.8333vw;
    font-size: clamp(14px, 0.8333vw, 16px);
    line-height: 20px;
    font-weight: 400;
  }

  &__social {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.0277vh;
  }
  &__social-title {
    font-size: 0.8333vw;
    font-size: clamp(14px, 0.8333vw, 16px);
    line-height: 20px;
    font-weight: 400;

    text-align: end;
  }
  &__social-group {
    height: max-content;
    display: flex;
    justify-content: end;
    column-gap: 0.4167vw;
  }
  &__social-link {
    a {
      display: block;
      line-height: 0px;
      width: max-content;
      height: max-content;
    }
    // background-color: $borderColorBlock;
    img {
      width: 1.7625vw;
      height: 1.7625vw;
      border-radius: 50%;
    }
  }
}
@media (max-width: 920px) {
  .footer {
    padding: 20px 0vw 30px;
    border-radius: 15.625vw 15.625vw 0px 0px;
    border-radius: clamp(50px, 15.625vw, 64px) clamp(50px, 15.625vw, 64px) 0px 0px;
    border-width: 2px 2px 0px 2px;

    &__wrapper {
      width: 87.5vw;
      flex-direction: column;
      justify-content: end;
      gap: 20px;
    }

    &__nav {
      flex-direction: column;
      gap: 7px;
    }

    &__link {
      display: flex;
      align-items: end;
      font-size: 4.375vw;
      font-size: clamp(14px, 4.375vw, 18px);
    }

    &__social {
      height: max-content;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__social-title {
      font-size: 4.375vw;
      font-size: clamp(14px, 4.375vw, 18px);
      text-align: start;
    }
    &__social-group {
      justify-content: start;
      column-gap: 2.8125vw;
    }

    &__social-link {
      justify-content: start;
      img {
        width: 8.4375vw;
        width: clamp(27px, 8.4375vw, 60px);
        height: auto;
        border-radius: 50%;
      }
    }
  }
}
