.header {
  color: $baseTextColor;
  &__wrapper {
    width: var(--widthContentWrapper);
    margin: 1.2648vh auto 0.3953vh;
    padding: 1.9763vh 2.5vw;
    border-radius: 3.3333vw;
    border: 4px solid $borderColorBlock;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 15.3646vw;
    opacity: 0;
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.67vw;
  }
  &__link {
    display: flex;
    min-width: max-content;
    @include fontSize(0.8333vw, 120%, 400);
  }
  &__btn-group {
    display: flex;
    gap: 0.73vw;
  }
  &__btn {
    min-width: max-content;
    padding: 1.11vh 0.73vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5208vw;
    @include fontSize(0.8333vw, 120%, 400);
    color: $baseTextColor;
    background-color: unset;
    text-transform: uppercase;
    border: 2px solid $borderBtnColor;
    border-radius: 1.25vw;
    img {
      width: 0.8333vw;
    }
  }
  #signUp {
    background-color: $borderColorBlock;
    color: $baseTextColor;
    border-color: $borderColorBlock;
    &:hover {
      background-color: $bgActiveBtn;
      color: $blogPreviewBgColor;
    }
  }
}
