.blog {
  z-index: 5;
  width: 28.6563vw;
  height: 50.0356vh;
  display: flex;
  flex-direction: column;
  color: $baseTextColor;
  &::before {
    z-index: -5;
    content: "";
    position: absolute;
    bottom: -25%;
    right: -10%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 200px 450px #478bf93c;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 19px;
    font-size: 2.0833vw;
    font-size: clamp(32px, 2.0833vw, 40px);
    line-height: 40px;
    font-weight: 700;
  }
  &__preview-group-wrapper {
    position: relative;
    width: 100%;
    height: 47.1308vh;
    height: clamp(421px, 47.1308vh, 600px);
    display: flex;
    background-color: $bgColorBlogGroup;
    border-width: 3px;
    border-width: clamp(2px, 0.1563vw, 3px);
    border-color: $borderColorBlock;
    border-style: solid;
    border-radius: 5.21vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #00000000;
  }
  &__preview-group {
    box-sizing: content-box;
    position: relative;
    top: 0px;
    min-width: 90%;
    width: max-content;
    height: max-content;
    padding: 3% 0px 0.8vh 0.5vw;
    padding: clamp(8px, 3%, 15px) 0px clamp(5px, 0.8vh, 15px) clamp(5px, 0.5vw, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__preview {
    width: 24.323vw;
    width: clamp(150px, 24.323vw, 467px);
    padding: 1.2648vh 3.3333vw;
    display: flex;
    flex-direction: column;
    gap: 0.9486vh;
    border-radius: 5.21vw;
    background-color: $blogPreviewBgColor;
    &:hover {
      color: $baseTextColor;
      background-color: $focusTextColor;
    }
  }

  &__text {
    font-size: 1.25vw;
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: 117%;
    font-weight: 500;
  }

  &__data {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    opacity: 0.6;
  }
  /*---скролл-бар---*/
  &__progressbar {
    height: 70%;
    min-width: 23px;
    max-width: 40px;
    width: 10%;
    margin: 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    z-index: 50;
    top: 15%;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      z-index: 50;
      top: 0;
      left: 50%;
      margin-left: -4px;
      width: 8px;
      height: 100%;
      background: $bgScrollBarColor;
      border-radius: 10px;
    }
  }
  &__progressbar-line {
    position: absolute;
    z-index: 1000;
    left: 50%;
    margin-left: -4px;
    background-color: $borderColorBlock;
    width: 8px;
    border-radius: 10px;
    border: 2px solid $borderColorBlock;
    touch-action: none;
    &:hover {
      filter: invert(20%) sepia(2%) saturate(11%) hue-rotate(320deg) brightness(89%) contrast(86%);
    }
  }
}

@media (max-width: 920px) {
  .blog {
    width: var(--widthContentWrapper);
    height: max-content;
    margin: auto;
    padding: 30px 0px 120px;
    &::before {
      z-index: -5;
      content: "";
      position: absolute;
      bottom: 25%;
      right: 10%;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      box-shadow: 0px 0px 100px 150px #478bf93c;
    }
    &__preview-group-wrapper {
      height: 60vh;
      height: clamp(421px, 70vh, 600px);
      border-radius: 15vw;
      border-radius: clamp(50px, 15vw, 75px);
    }
    &__preview-group {
      padding: 1.7vh 0px 1.7vh 3vw;
      padding: clamp(10px, 1.7vh, 50px) 0px clamp(10px, 1.7vh, 50px) clamp(10px, 3vw, 50px);
      gap: 10px;
    }
    &__preview {
      width: 84vw;
      width: clamp(274px, 84vw, 800px);
      padding: 16px 9%;
      border-radius: 12.5vw;
    }
    &__text {
      display: block;
      width: 63.75vw;
      width: clamp(204px, 63.75vw, 400px);
      font-size: 5vw;
      font-size: clamp(16px, 5vw, 24px);
      line-height: 117%;
      font-weight: 500;
    }

    &__data {
      display: block;
      width: 204px;
    }

    /*---скролл-бар---*/
    &__progressbar {
      height: 64%;
      top: 18%;
      &:before {
        width: 4px;
        margin-left: -2px;
      }
    }
    &__progressbar-line {
      width: 4px;
      margin-left: -2px;
    }
  }
}

//----прячем скролл---
.blog__preview-group-wrapper::-webkit-scrollbar {
  width: 0px;
}

.blog__preview-group-wrapper::-webkit-scrollbar-track {
  background: $bgScrollBarColor;
  border-radius: 10px;
}

.blog__preview-group-wrapper::-webkit-scrollbar-thumb {
  background-color: $borderColorBlock;
  border-radius: 10px;
}
