.hero {
  position: relative;
  z-index: 5;
  width: 34.8437vw;
  height: max-content;
  &::before {
    z-index: -5;
    content: "";
    position: absolute;
    top: 20%;
    left: -75%;
    width: 170%;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(71, 139, 249, 0.148);
    box-shadow: 0px 0px 70px 70px rgba(71, 139, 249, 0.158);
    transform: rotateZ(35deg) rotateX(0deg);
  }
  &__title {
    width: max-content;
    max-width: 100%;
    color: $baseTextColor;
    font-size: clamp(46px, 5vw, 96px);
    font-weight: 600;
    line-height: 100%;

    span {
      color: $accentTextColor;
    }
  }

  &__subtitle {
    display: block;
    width: 100%;
    margin: 2.7668vh 0px 3.5573vh;
    color: $heroSubtitleColor;
    hyphens: auto;
    font-size: clamp(20px, 1.66667vw, 32px);
    font-weight: 600;
    line-height: 100%;
  }

  &__btn {
    width: clamp(280px, 20.4688vw, 393px);
    padding: 0px 3.39vw;
    height: 5.9617vh;
    background-color: $heroBtnBg;
    color: $baseTextColor;
    border-radius: 48px;
    font-size: clamp(18px, 1.25vw, 24px);
    font-weight: 700;
    line-height: 133%;

    text-transform: uppercase;
  }
}
@media (max-width: 920px) {
  .hero {
    position: relative;
    z-index: 5;
    width: var(--widthContentWrapper);
    height: max-content;
    margin: auto;
    padding: 80px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      top: 25%;
      left: -20%;
      width: 120%;
      height: 130px;
      background-color: rgba(71, 139, 249, 0.29);
      box-shadow: 0px 0px 70px 70px rgba(71, 139, 249, 0.3);
      transform: rotateZ(20deg) rotateX(65deg);
    }
    &__title {
      width: max-content;
      max-width: 100%;
      text-align: center;
      font-size: clamp(46px, 14vw, 96px);
      font-weight: 600;
      line-height: 109%;
    }

    &__subtitle {
      width: 100%;
      margin: 24px 0px;
      text-align: center;
      hyphens: unset;
      font-size: clamp(20px, 6.25vw, 32px);
      font-weight: 600;
      line-height: 130%;
    }

    &__btn {
      width: 100%;
      height: 53px;
      border-radius: 48px;
      font-size: clamp(18px, 5.625vw, 24px);
      font-weight: 700;
      line-height: 100%;
    }
  }
}
