.vertical-ticker,
.horizontal-ticker {
  width: max-content;
  height: 100%;
  overflow: hidden;
  &__container {
    width: max-content;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
  }
  &__first,
  &__second,
  &__third {
    position: relative;
    width: max-content;
    height: 100%;
    display: grid;

    align-content: start;
    justify-content: start;
    overflow: hidden;
    .marquee {
      width: max-content;
      height: max-content;
      display: grid !important;

      img {
        margin: 0.7905vh 0.5194vw;
        width: 4.51vw;
        height: auto;
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      box-shadow: 0px 0px 90px 100px $footerBgColor;
    }
  }
  &__first {
    opacity: 0.2;
  }
  &__second {
    opacity: 0.7;
    justify-content: end;
    align-content: end;
    .marquee {
      align-content: end;
      justify-content: end;
      position: relative;
      bottom: 0;
      right: 0;
    }
    &:before {
      box-shadow: 0px 0px 100px 70px $footerBgColor;
    }
  }
  &__third {
    opacity: 0.4;
    &:before {
      box-shadow: 0px 0px 90px 70px $footerBgColor;
    }
  }
}
.ticker-img-group {
  display: grid;
  width: max-content;
  height: max-content;
}
.horizontal-ticker {
  display: none;
}
.vertical-ticker {
  display: grid;
}

@media (max-width: 920px) {
  .horizontal-ticker,
  .vertical-ticker {
    width: 100%;
    height: max-content;
    overflow: hidden;

    &__container {
      width: 100%;
      height: max-content;
      grid-auto-flow: row;
      overflow: hidden;
    }
    &__first,
    &__second,
    &__third {
      grid-auto-flow: column;
      width: 100%;
      height: max-content;
      overflow: hidden;
      .marquee {
        overflow: hidden;
        height: max-content;
        grid-auto-flow: column;
        img {
          margin: 5px;
          height: 48px;
          width: auto;
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0;
        box-shadow: unset;
      }
    }
    &__first {
      opacity: 0.4;
    }
    &__second {
      opacity: 0.7;
    }
    &__third {
      opacity: 0.2;
    }
  }
  .ticker-img-group {
    grid-auto-flow: column;
  }
  .horizontal-ticker {
    display: grid;
  }
  .vertical-ticker {
    display: none;
  }
}
